@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background: url('bg.png'), #D9CEB2;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 12pt;
}

.floating-control {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.headerbar {
  background: url('bg.png'), #C6B791;
  box-shadow: inset 0px -10px 6px -12px #00000050;
  margin: 0px;
  padding: 5px;
  min-width: 200px;
  min-height: 32px;
}
