@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background: url('bg.png'), #D9CEB2;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 12pt;
}

#gallery-outer {
  max-height: 100%;
  max-width: 100%;
  min-height: 0px;
  min-width: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery-image {
  flex-grow: 1;
  flex-shrink: 1;

  border: 10px solid #FFFBF3;
  border-radius: 10px;
  box-shadow: 0px 1px 20px -1px #00000080;
  display: inline-block;
  margin: 20px;
  padding: 0px;
  height: 100%;
    
  object-fit: contain;
  
  min-width: 0px;
  max-width: calc(100% - 60px);
  
  min-height: 0px;
  max-height: calc(100% - 60px);
}


.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 0px;
  flex-basis: min-content;
}

.icon-inner {

}

.icon-image {
  background: #FFFBF3;
  border: 5px solid #FFFBF3;
  border-radius: 5px;
  box-shadow: 0px 1px 5px -2px #00000080;
}

.icon-text {
  color: #495575;
}

.icon img {
}

.floating-control {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

#crumb-strip {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background: url('bg.png'), #C6B791;
  border: 0px solid #774F38;
  box-shadow: inset 0px 0.5px 5px 0px #00000050;
  border-radius: 100px;
  margin: 10px 10px 0px 10px;
  padding: 5px;
  min-width: 600px;
  min-height: 32px;
}

.crumb {
  padding: 0px 5px;
}

.crumb::before {
  content: '»';
  color: #495575;
}

.crumb a {
  text-decoration: none;
  color: #495575;
  padding: 0px 5px 0px 5px;
}

#thumbstrip {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background-color: #BFB69D;
  border: 0px solid #774F38;
  box-shadow: inset 0px 0px 10px -1px #00000080;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  min-width: 600px;
  min-height: 128px;
}

#gallery {
  min-height: 0px;
}

.gallery-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-grow: 0;
  flex-shrink: 1;
}
